In [4]:
                                          #LOCATION VS GENDER ANALYSIS
import mysql.connector
import mysql.connector

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

# Create a cursor
mycursor=mydb.cursor()

# Execute the SQL query
mycursor.execute('''SELECT AREA_NAME, LAT, LON FROM crime_data;''')
data = mycursor.fetchall()

# Extract data into lists
area = [record[0] for record in data]
lat = [record[1] for record in data]
lon = [record[2] for record in data]

# Creating a DataFrame
df = pd.DataFrame({'Area': area, 'Latitude': lat, 'Longitude': lon})

# Count occurrences for each unique area, latitude, and longitude combination
occurrences = df.groupby(['Area', 'Latitude', 'Longitude']).size().reset_index(name='CrimeOccurrances')

#
#Extracting area wise victim gender count

mycursor.execute('''WITH 
CTE1 AS (
    SELECT 
        area_name,
        COUNT(area_name) AS Female_count 
    FROM 
        crime_data
    WHERE 
        vict_sex = 'F'
    GROUP BY 
        area_name
    ORDER BY 
        Female_count DESC
),
CTE2 AS (
    SELECT 
        area_name,
        COUNT(area_name) AS Male_count 
    FROM 
        crime_data
    WHERE 
        vict_sex = 'M'
    GROUP BY 
        area_name
    ORDER BY 
        Male_count DESC
)

SELECT 
    CTE1.area_name,
    CTE1.Female_count,
    CTE2.Male_count
FROM 
    CTE1
INNER JOIN 
    CTE2 ON CTE1.area_name = CTE2.area_name;
''')
data = mycursor.fetchall()
area = [record[0] for record in data]
female_count = [record[1] for record in data]
male_count = [record[2] for record in data]

df = pd.DataFrame({'area': area, 'female_count': female_count, 'male_count' : male_count})
print(df)
df_melted = pd.melt(df, id_vars='area', var_name='gender', value_name='count')
print(df_melted)

#Created mask to avoid central location
mask = df_melted[df_melted['area'] != 'Central']

#bar plot to understand the location wise gender wise victims
sns.barplot(x='area', y='count', hue='gender', data=df_melted)
plt.xlabel("Areas")
plt.ylabel("Crime_count")
plt.title("Gender Vs location crime count")
plt.show()

#bar plot to understand the location wise gender wise victims excluding the central location
sns.barplot(x='area', y='count', hue='gender', data=mask)
plt.xlabel("Areas")
plt.ylabel("Crime_count")
plt.title("Gender Vs location crime count_excluding Central location")
plt.show()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
                                                    #LOCATION WISE CRIME

import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

# Create a cursor
mycursor = mydb.cursor()

# Execute the SQL query
mycursor.execute('''SELECT area_name, Location, count(DR_NO) AS frequency 
FROM crime_data GROUP BY 1, 2 order by frequency DESC LIMIT 20;''')

data = mycursor.fetchall()

# Extract data into lists
area = [record[0] for record in data]
location = [record[1] for record in data]
frequency = [record[2] for record in data]


# Creating a DataFrame
df = pd.DataFrame({'area': area, 'location': location, 'frequency': frequency})

sns.barplot(y='location', x='frequency', data=df, orient='h')
plt.xlabel('location')
plt.ylabel('frequency')
plt.title('Location wise Frequency')
plt.xticks(rotation=25)
plt.show()

In [ ]:
                                                #Crime HOTSPOTS

import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns



# Connect to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

# Create a cursor
mycursor = mydb.cursor()

# Execute the SQL query
mycursor.execute('''SELECT AREA_NAME, LAT, LON FROM crime_data;''')
data = mycursor.fetchall()

# saving the lists in the variables using the list comprehension

area = [record[0] for record in data]
lat = [record[1] for record in data]
lon = [record[2] for record in data]

# Creating a DataFrame from the lists
df = pd.DataFrame({'Area': area, 'Latitude': lat, 'Longitude': lon})

# Count occurrences for each unique area, latitude, and longitude combination
occurrences = df.groupby(['Area', 'Latitude', 'Longitude']).size().reset_index(name='CrimeOccurrances')

# Set figure size
plt.figure(figsize=(10, 12))

# Create a scatter plot with bubbles for different areas
scatter_plot = sns.scatterplot(x='Longitude', y='Latitude', size='CrimeOccurrances', hue='Area', sizes=(20, 200), data=occurrences)

# Resize and reduce font of the legends
scatter_plot.legend(title='Area', fontsize='small', title_fontsize='small')

plt.title('Crime Hotspots')
plt.xlabel('Longitude')
plt.ylabel('Latitude')

# Show the plot
plt.show()

In [ ]:
                                                    #VICTIM DEMOGRAPHICS

import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

# Create a cursor
mycursor = mydb.cursor()

# Execute the SQL query
mycursor.execute('''SELECT vict_age as age, count(vict_age) frequency, vict_sex as sex FROM crime_data 
GROUP BY 1, 3 ORDER BY frequency DESC;''')

data = mycursor.fetchall()

# Extract data into lists
age = [record[0] for record in data]
frequency = [record[1] for record in data]
sex = [record[2] for record in data]


# Creating a DataFrame
df = pd.DataFrame({'age': age, 'frequency': frequency, 'sex': sex})

sns.barplot(x='age', y='frequency', hue ='sex', data=df, dodge = False)
plt.xlabel("Age")
plt.ylabel("Crime_Frequency")
plt.title("Victim_Age wise Crime Frequency")
plt.xticks(rotation=55)
plt.show()


mycursor = mydb.cursor()
mycursor.execute('''SELECT vict_sex, count(DR_NO) As frequency FROM crime_data GROUP BY 1;''')
data = mycursor.fetchall()

sex = [record[0] for record in data]
frequency = [record[1] for record in data]


# Creating a DataFrame
import matplotlib.pyplot as plt

df = pd.DataFrame({'sex': sex, 'frequency': frequency})
plt.figure(figsize=(6, 6))
plt.pie(frequency, labels=sex, autopct='%1.1f%%', startangle=90)
plt.title('Distribution of Sex')
plt.axis('equal')
plt.show()



mycursor = mydb.cursor()
mycursor.execute('''SELECT vict_sex, vict_age,  
CASE 
WHEN vict_age between 12 and 1 THEN 'Child'
WHEN vict_age = 0 and vict_sex in ('X', 'M') THEN 'Infant'
WHEN vict_age between 13 AND 19 THEN 'Teen'
WHEN vict_age between 20 AND 30 THEN 'Adult'
WHEN vict_age between 30 AND 49 THEN 'Middle Age'
WHEN vict_age >= 50 THEN 'SeniorCitizen'
ELSE 'fetus'
END as age_category, count(vict_age) as frequency FROM crime_data
GROUP BY 1, 2, 3 ORDER BY frequency DESC;
''')
data = mycursor.fetchall()

sex = [record[0] for record in data]
age = [record[1] for record in data]
category = [record[2] for record in data]
frequency = [record[3] for record in data]


# Creating a DataFrame
import matplotlib.pyplot as plt

df = pd.DataFrame({'sex': sex, 'age': age, 'category': category, 'frequency': frequency})

sns.catplot(
    df, kind="bar",
    x="sex", y="frequency", col="category", estimator = sum,
    height=4, aspect=.5,
)
plt.show()

In [ ]:
                                                ##CRIME ANALYSIS

#Extracting the top 10 crime codes in bar graph and crime description

import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

# Create a cursor
mycursor = mydb.cursor()

# Execute the SQL query
mycursor.execute('''SELECT Crm_CD, COUNT((Crm_Cd)) as frequency, Crm_Cd_Desc FROM CRIME_DATA GROUP BY 1, 3 ORDER BY 2 DESC LIMIT 10''')
data = mycursor.fetchall()

# Extract data into lists
crime_code = [record[0] for record in data]
frequency = [record[1] for record in data]
crime_des = [record[2] for record in data]



# Creating a DataFrame
df = pd.DataFrame({'crime_code': crime_code, 'frequency': frequency, 'crime_des':crime_des})

sns.barplot(x='crime_code', y='frequency', data=df)
plt.xlabel("Crime Code")
plt.ylabel("Crime_Frequency")
plt.title("Crime Frequency on Crime Code")
plt.xticks(rotation=55)
plt.show()

In [ ]:
                                        #DATA EXPLORATIONS

                            #IMPORTING REQUIRED LIBRARIES
#DB Connection
import mysql.connector



                                #DB CONNECTION WITH PYCHARM


import mysql.connector
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

mycursor = mydb.cursor()

                    #DB CONNECTION VERIFICATION WITH PYCHARM

mycursor.execute('''SELECT * FROM crime_data''')
data = mycursor.fetchall()

#using the for loop to print the records

for record in data:
    print(record)

# Fetching Victim Gender wise records
mycursor.execute('''SELECT Vict_Sex, COUNT(DR_NO) AS victim_count 
FROM crime_data GROUP BY 1''')
data = mycursor.fetchall()

for record in data:
    print(record)

                                    # DATA EXPLORATION

#1) Retriving the basic statistics on dataset, such as total number of records and unique values
#Count, Distinct, Count, Min, Max & Avg

mycursor.execute(('''SELECT 
COUNT(DR_NO) As crimes_recorded,
COUNT(DISTINCT(DR_NO)) AS distinct_crime_recorded,
min(Date_Rptd_new) AS first_crime_recorded_date, 
max(Date_Rptd_new) last_crime_recorded_date,
round(avg(vict_age)) as avg_age  
FROM crime_data;'''))

data = mycursor.fetchall()

for record in data:
    print(record)

# 2) Identify distinct crime codes and their discriptions

mycursor.execute('''
SELECT DISTINCT(CONCAT(Crm_Cd, " ", Premis_Desc)) AS distinct_crime_code_description 
FROM crime_data ORDER BY 1;''')

data = mycursor.fetchall()
for record in data:
    print(record)

In [ ]:
                                            #CRIME CODE ANALYSIS
#Extracting the top 10 crime codes in bar graph and crime description

import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    port='3306',
    database='pythonproject'
)

# Create a cursor
mycursor = mydb.cursor()

# Execute the SQL query
mycursor.execute('''SELECT Crm_CD, COUNT((Crm_Cd)) as frequency, Crm_Cd_Desc FROM CRIME_DATA GROUP BY 1, 3 ORDER BY 2 DESC LIMIT 10''')
data = mycursor.fetchall()

# Extract data into lists
crime_code = [record[0] for record in data]
frequency = [record[1] for record in data]
crime_des = [record[2] for record in data]



# Creating a DataFrame
df = pd.DataFrame({'crime_code': crime_code, 'frequency': frequency, 'crime_des':crime_des})

sns.barplot(x='crime_code', y='frequency', data=df)
plt.xlabel("Crime Code")
plt.ylabel("Crime_Frequency")
plt.title("Crime Frequency on Crime Code")
plt.xticks(rotation=55)
plt.show()